@import "tailwindcss";
@plugin "daisyui";

:root {
  /*  Main Body Background (Soft Peach) */
  --color-body: #f2e7fe;

  /*  Navbar Background (Soft Pink) */
  --color-navbar: #f2e7fe;

  /*  Card Background */
  --color-card: #f1bbbb;

  /*  Sidebar Background (Light Cream) */
  --color-sidebar: #dfdffc;

  /* Border Color */
  --color-border: #ece7e4;

  /* Primary Text */
  --color-text: #1f2937;

  /*Secondary Text */
  --color-text-light: #6b7280;

  /* Primary Pink */
  --color-primary: #08721f;

  /* Accent Orange */
  --color-accent: #da4641;

  /* Success Green */
  --color-success: #1a7e45;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-marcellus);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-marcellus), serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}
